.step-arrows::before {
    content: " ";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    top: 50%;
    left: 100%;
    margin-top: -50px;
    margin-left: 1px;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid #eee;
    z-index: 1;
}
.step-arrows::after{
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    top: 50%;
    left: 100%;
    margin-top: -50px;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid blue;
    z-index: 2;
}
.step-arrows{
    height: 100px;
    background: blue;
    position: relative;
}